<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.usdk.beeper.perm.NORMAL_FUNC" />
    <uses-permission android:name="com.usdk.deviceinfo.perm.NORMAL_FUNC" />
    <uses-permission android:name="com.usdk.rfcard.perm.NORMAL_FUNC" />
    <uses-permission android:name="com.usdk.permission.PRINTER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".NLITicketApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.NLITicketApp"
        tools:targetApi="31">

        <service
            android:name=".database.DBSyncService"
            android:exported="false"/>

        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".ui.activities.SelezioneTurno.SelezioneTurnoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.NLITicketApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.logout.LogoutActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">



            <!-- CB2 APP API RESULT INTENT -->
            <intent-filter>
                <data android:host="result"
                    android:scheme="nliticketapp" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>